<div class="page-footer">
	<div class="footer-wrap">
		<div class="copyright">©2014 DH FWD TEAM</div>
		<div id="fork"><a href="https://github.com/yaohiyang/dh-menu">Fork this project on GitHub</a></div>
	</div>
</div>
