
<div class="page-header">
	<div class="top-nav">
		<div class="topnav-wrap">
			<div class="fr welcome">
				<%if(!loginname){%>
				<span id="dis-login" class="action">
					<a class="ca-lightgrey" href="/register">注册</a> ｜ <a class="ca-lightgrey" href="/login">登录</a>
				</span>
				<%}else{%>
				<span id="is-login" class="name">HI,&nbsp;<%=loginname%></span>
				<a href="/logout" class="logout ca-lightgrey" id="logout">退出</a>
				<script type="text/javascript">window.CUSER = "<%=loginname%>";</script>
				<%}%>
			</div>
			<a href="/" class="wap ca-lightgrey"><i class="icon i-phone"></i><span>DH FWD MENU</span></a>
			<span class="current-city" id="current-city">北京</span>
		</div>
	</div>
</div>