<!--
<div class="page-header">
	<div class="top-nav">
		<div class="topnav-wrap">
			<div class="fr welcome">
				<span id="dis-login" class="action"><a class="ca-lightgrey" href="/register">注册</a> ｜ <a class="ca-lightgrey" href="/login">登录</a>
				</span>
				<a id="top-nav-send-fb" class="ca-lightgrey send-fb" href="/help/feedback">找客服</a>
				<a target="_blank" href="/" class="site-name ca-lightgrey"><i class="icon i-tuan"></i><span>美团网</span></a>
			</div>
			<a href="/mobile/download" class="wap ca-lightgrey"><i class="icon i-phone"></i><span>手机版</span></a>
			<span class="current-city" id="current-city">北京</span>
		</div>
	</div>
	<div class="middle-nav">
		<div class="middlenav-wrap clearfix">
			<div class="desire fr">
				<div class="ordered-restlist">
					<div class="title"><a href="javascript:;" class="ca-lightgrey">已点过的餐厅<i class="icon i-triangle-dn"></i></a>
					</div>
					<ul class="no-ordered-rest">
						<li>
							<span>（还没有点过的餐厅）</span>
						</li>
					</ul>
				</div>
				<a href="/" class="ca-lightgrey home-page"><i class="icon i-home"></i><span>主页</span></a>
				<a href="/customer/order/list" class="ca-lightgrey check-order"><i class="icon i-search"></i><span>我的外卖</span></a>
				｜ &nbsp;&nbsp;&nbsp;<a href="javascript:;" class="ca-lightgrey ordered-rest" id="ordered-rest">已点过的餐厅<i class="icon i-triangle-dn"></i></a>&nbsp;&nbsp;&nbsp;｜
			</div>
			<h1 class="logo fl">
				<a href="/" title="美团外卖">
					<img src="/static/img/normal.png" alt="美团外卖">
				</a>
			</h1>
			<span class="address fl" id="address">
				<span id="curr-location">五道口购物中心</span>

				<a href="/stay/1" class="change cc-yellow">[换个地址]</a>
			</span>
		</div>
	</div>
</div>-->