<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>DH FWD MENU</title>
	<link rel="icon" href="http://waimai.meituan.com/static/img/favcoin.ico" size="16x16 32x32">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/home.css">
	<script type="text/javascript" charset="utf-8" src="/js/home.js"></script>
</head>

<body>
	<div class="triffle" id="triffle">
		<a href="javascript:;" class="top" style="visibility: hidden;"><i class="icon i-backtop"></i></a>
		<a id="aside-feedback" target="_blank" href="http://waimai.meituan.com/help/feedback" class="fb">意见反馈</a>
	</div>
	<div class="stick-qrcode" id="stickQrcode">
		<a class="index-xiaomei qrcode">
			<i class="icon i-qrcode-cross"></i>
			<span class="code qrcode"></span>
		</a>
	</div>
	<div class="wrapper">
		<div id="top-tips" class="top-tips" style="display: none;">
			<a class="j-top-tips-close top-tips-close" href="javascript:;"><i class="icon i-top-tips-close"></i></a>
			<div class="j-top-tips-content top-tips-content" data-id=""></div>
		</div>
		<div class="page-header">
			<div class="top-nav">
				<div class="topnav-wrap">
					<div class="fr welcome">
						<span id="dis-login" class="action"><a class="ca-lightgrey" href="http://waimai.meituan.com/register">注册</a> ｜ <a class="ca-lightgrey" href="http://waimai.meituan.com/login">登录</a>
						</span>
						<a id="top-nav-send-fb" class="ca-lightgrey send-fb" href="http://waimai.meituan.com/help/feedback">找客服</a>
						<a target="_blank" href="http://meituan.com/" class="site-name ca-lightgrey"><i class="icon i-tuan"></i><span>美团网</span></a>
					</div>
					<a href="http://waimai.meituan.com/mobile/download" class="wap ca-lightgrey"><i class="icon i-phone"></i><span>手机版</span></a>
					<span class="current-city" id="current-city">北京</span>
				</div>
			</div>
			<div class="middle-nav">
				<div class="middlenav-wrap clearfix">
					<div class="desire fr">
						<div class="ordered-restlist">
							<div class="title"><a href="javascript:;" class="ca-lightgrey">已点过的餐厅<i class="icon i-triangle-dn"></i></a>
							</div>
							<ul class="no-ordered-rest">
								<li>
									<span>（还没有点过的餐厅）</span>
								</li>
							</ul>
						</div>
						<a href="http://waimai.meituan.com/" class="ca-lightgrey home-page"><i class="icon i-home"></i><span>主页</span></a>
						<a href="http://waimai.meituan.com/customer/order/list" class="ca-lightgrey check-order"><i class="icon i-search"></i><span>我的外卖</span></a>
						｜ &nbsp;&nbsp;&nbsp;<a href="javascript:;" class="ca-lightgrey ordered-rest" id="ordered-rest">已点过的餐厅<i class="icon i-triangle-dn"></i></a>&nbsp;&nbsp;&nbsp;｜
					</div>
					<h1 class="logo fl">
						<a href="http://waimai.meituan.com/" title="美团外卖">
							<img src="/img/normal.png" alt="美团外卖">
						</a>
					</h1>
					<span class="address fl" id="address">
						<span id="curr-location">五道口购物中心</span>

						<a href="http://waimai.meituan.com/?stay=1" class="change cc-yellow">[换个地址]</a>
					</span>
				</div>
			</div>
		</div>
		<div class="page-wrap">
			<div class="inner-wrap">
				<div class="inner-bg">
					<div class="rest-banner">
						<div class="tab clearfix">
							<a href="/美团外卖 - 北京_五道口购物中心 外卖网 外卖订餐 快餐外卖 网站订餐外卖.html" class="fl rest-tab active">餐厅</a>
							<a href="http://waimai.meituan.com/food/topsale/wx4ex92rpq0d" class="fl hot-food">热卖美食<i class="icon i-new"></i></a>
						</div>
						<div class="rest-filter clearfix">
							<div class="rest-filter clearfix">

								<a title="下单赠饮料" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=fulldonation">
									<span class="sprite checkbox "></span>
									<span class="txt">下单赠饮料

									</span>
								</a>
								<a title="赠250ml统一饮料" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_88">
									<span class="sprite checkbox "></span>
									<span class="txt">赠250ml统一饮料

									</span>
								</a>
								<a title="赠600ml百事可乐" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_101">
									<span class="sprite checkbox "></span>
									<span class="txt">赠600ml百事可乐

									</span>
								</a>
								<a title="赠450ml果粒橙" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_86">
									<span class="sprite checkbox "></span>
									<span class="txt">赠450ml果粒橙

									</span>
								</a>
								<a title="赠450ml果粒橙" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_25">
									<span class="sprite checkbox "></span>
									<span class="txt">赠450ml果粒橙

									</span>
								</a>
								<a title="赠600ml可口可乐" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_10">
									<span class="sprite checkbox "></span>
									<span class="txt">赠600ml可口可乐

									</span>
								</a>
								<a title="赠600ml雪碧" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=mealsdonation_35">
									<span class="sprite checkbox "></span>
									<span class="txt">赠600ml雪碧

									</span>
								</a>
								<a title="下单立减" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=fulldiscount">
									<span class="sprite checkbox "></span>
									<span class="txt">下单立减

									</span>
								</a>
								<a title="新用户优惠" href="http://waimai.meituan.com/home/wx4ex92rpq0d?sort_type=0&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&classify_type=firstdiscount">
									<span class="sprite checkbox "></span>
									<span class="txt">新用户优惠

									</span>
								</a>

								<a title="超时赔付" href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&sort_type=0&support_online_pay=0&support_invoice=0&pay_type=1">
									<span class="sprite checkbox "></span>
									<span class="txt">超时赔付</span>
								</a>

								<a title="在线支付" href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&sort_type=0&pay_type=0&support_invoice=0&support_online_pay=1">
									<span class="sprite checkbox "></span>
									<span class="txt">在线支付</span>
								</a>

								<a title="支持发票" href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&sort_type=0&pay_type=0&support_online_pay=0&support_invoice=1">
									<span class="sprite checkbox "></span>
									<span class="txt">支持发票</span>
								</a>
							</div>
						</div>
						<div class="sort-filter" id="sortFilter">
							<a class="sort default-sort active" href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&sort_type=0">默认排序</a>
							<a class="sort sa-sort " href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&sort_type=1">销量<i class="icon i-orderdown"></i></a>
							<a class="sort ct-sort " href="http://waimai.meituan.com/home/wx4ex92rpq0d?classify_type=&price_type=0&pay_type=0&support_online_pay=0&support_invoice=0&sort_type=2">评价<i class="icon i-orderdown"></i></a>
						</div>
					</div>
					<div class="store-status clearfix">
						<i class="icon i-more-poi fl"></i>
						<span>营业中</span>
					</div>
					<div class="rest-list online-rests">
						<div class="list clearfix">
							<ul>
								<li class="fl">
									<div data-title="【首减5+立减5】人民公社" data-bulletin="1、为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解&lt;br /&gt;&lt;br /&gt;~~本店优先配送美团外卖订单~~" class="restaurant hover" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="1">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/32991" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p1.meituan.net/75.0/xianfu/1e91ff9ebb8ec442d8b0ba70409dd17216271.jpg" style="background-image: url(http://p1.meituan.net/75.0/xianfu/1e91ff9ebb8ec442d8b0ba70409dd17216271.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5+立减5】人民公社">
															【首减5+立减5】人民 ...
														</span>
													</div>
													<div class="tags">
														<span title="快餐小吃">快餐小吃</span>
													</div>
													<div class="price">
														<span class="start-price">0元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售458单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>


													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ml饮料
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满5元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超60分钟9折。 如果遇到雨雪天气， 不进行超时赔付。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：47分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="鸿运快餐" data-bulletin="" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="10">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/10450" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p1.meituan.net/75.0/xianfu/2221884d9585ed457cfff1c31a8f4a6f18023.jpg" style="background-image: url(http://p1.meituan.net/75.0/xianfu/2221884d9585ed457cfff1c31a8f4a6f18023.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="鸿运快餐">
															鸿运快餐

														</span>
													</div>
													<div class="tags">
														<span title="中式炒菜">中式炒菜</span>
													</div>
													<div class="price">
														<span class="start-price">100元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售573单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>


													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ml冰红茶或可乐
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超60分钟9折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：34分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【立减5元+赠饮】香香小屋【西式营养快餐】" data-bulletin="1、为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解&lt;br /&gt;2、该餐厅支持开发票，请在下单时填写好发票抬头&lt;br /&gt;&lt;br /&gt; ~~本店优先配送美团外卖订单~~" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="2">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/2647" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/__43655943__6854439.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/__43655943__6854439.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【立减5元+赠饮】香香小屋【西式营养快餐】">
															【立减5元+赠饮】香香 ...
														</span>
													</div>
													<div class="tags">
														<span title="西式快餐">西式快餐</span>
													</div>
													<div class="price">
														<span class="start-price">20元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售731单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>

													<i class="icon i-cheque fl"></i>
													<script type="text/template" data-icon="i-cheque">
													支持开发票， 开票金额50元起。 请在下单时填好发票抬头。
													</script>

													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ML冰红茶
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满5元减5元；
													</script>





												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：43分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【立减5元+赠饮】正宗黄焖鸡" data-bulletin="欢迎您使用【美团外卖】点餐~&lt;br /&gt;&lt;br /&gt;本店黄焖鸡米饭采用山东济南老店的秘制酱料工艺技术，采集数十种中药及调味品严格按比例调配烹制而成，做成后色香味美，口感鲜嫩透味不粘腻，香味浓郁。令人回味无穷，百吃不厌。新店开业，倾心回馈，欢迎各位走过，路过，不要错过！&lt;br /&gt;&lt;br /&gt;起送价15元。 （免包装费、外送费。亲们；朝鲜冷面上市啦！冉冉夏季、吃冷面更清凉哦！欢迎前来品尝）" class="restaurant" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="2">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/9960" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/__43641494__3993356.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/__43641494__3993356.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【立减5元+赠饮】正宗黄焖鸡">
															【立减5元+赠饮】正宗 ...
														</span>
													</div>
													<div class="tags">
														<span title="快餐小吃">快餐小吃</span>
													</div>
													<div class="price">
														<span class="start-price">15元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售610单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">



													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠600ML可口可乐
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满5元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超120分钟9折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：46分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【首减5+立减5】小家炸鸡韩国料理" data-bulletin="注(特价菜2份起送,不赠送饮料,不是星期几的特价菜不能按特价结算)" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="2">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/12776" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/__45727401__5299141.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/__45727401__5299141.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5+立减5】小家炸鸡韩国料理">
															【首减5+立减5】小家 ...
														</span>
													</div>
													<div class="tags">
														<span title="日韩料理">日韩料理</span>
														<span title="炸鸡汉堡">炸鸡汉堡</span>
													</div>
													<div class="price">
														<span class="start-price">20元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售68单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>


													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ML饮品， 可选， 写备注
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满20元减5元；
													</script>





												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：44分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【新用户下单减十元】成都美食（颐和园路）" data-bulletin="----------为了不耽误您的用餐时间---------&lt;br /&gt;----请提前30-60分钟订餐，谢谢理解----&lt;br /&gt;&lt;br /&gt;【最近活动】订单满25元减5元（每单仅限一次）&lt;br /&gt;&lt;br /&gt;【费用说明】本店设置阶梯式起送价，部分地区起送价高于满减活动门槛，敬请谅解。&lt;br /&gt;&lt;br /&gt;本店优先配送美团外卖。&lt;br /&gt;&lt;br /&gt;--------------微信也可以点外卖啦-------------&lt;br /&gt;→→→关注微信号meituanwaimai←←←" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="8">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/21221" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/__43655943__6854439.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/__43655943__6854439.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【新用户下单减十元】成都美食（颐和园路）">
															【新用户下单减十元】成 ...
														</span>
													</div>
													<div class="tags">
														<span title="中式炒菜">中式炒菜</span>
													</div>
													<div class="price">
														<span class="start-price">80元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售122单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>


													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠600ml饮料
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元； 满20元减5元； 满80元减5元；
													</script>





												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：42分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【减5+赠饮】叮当美食" data-bulletin="本店优先配送美团外卖~&lt;br /&gt;@@本店优先配送美团外卖@@&lt;br /&gt;&lt;br /&gt;健康 时尚 美味&lt;br /&gt;&lt;br /&gt;最新活动：“首次下单用户立减5元”“满15元立减5元”下单即赠王老吉。" class="restaurant" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="1">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/25158" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/40637896e5313c13a85f5ecaebbca1f115428.jpeg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/40637896e5313c13a85f5ecaebbca1f115428.jpeg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【减5+赠饮】叮当美食">
															【减5+赠饮】叮当美食

														</span>
													</div>
													<div class="tags">
														<span title="中式炒菜">中式炒菜</span>
														<span title="快餐小吃">快餐小吃</span>
													</div>
													<div class="price">
														<span class="start-price">0元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<i class="icon i-star-empty"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售106单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>


													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠王老吉
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超50分钟8折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：50+分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【首减5+立减5】唯品客比萨" data-bulletin="【为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解】&lt;br /&gt;&lt;br /&gt;❤本店比萨采用奶酪为马苏里拉芝士，澳大利亚原装进口奶酪，是比萨专用芝士，味道纯正，美味可口，欢迎品尝❤加盟热线13718683331&lt;br /&gt;&lt;br /&gt;~~本店优先配送美团外卖~~" class="restaurant" style="border-left: 0;" data-all="1" data-mealsdonation_25="1" data-mealsdonation_10="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="1">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/23821" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/0d5e8691527ae566ea2fe0cb65c9a56920521.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/0d5e8691527ae566ea2fe0cb65c9a56920521.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5+立减5】唯品客比萨">
															【首减5+立减5】唯品 ...
														</span>
													</div>
													<div class="tags">
														<span title="西式快餐">西式快餐</span>
														<span title="披萨">披萨</span>
													</div>
													<div class="price">
														<span class="start-price">0元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售64单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">

													<i class="icon i-pay fl"></i>
													<script type="text/template" data-icon="i-pay">
													该餐厅支持在线支付
													</script>




													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满20元减5元；
													</script>




													<i class="i-ph17x17 fl"><img src="/img/__43485381__2858196.png" height="17" width="17"></i>
													<script type="text/template" data-icon="i-ph17x17" data-pic="http://p1.meituan.net/xianfu/__43485381__2858196.png">
													购买活动菜品， 赠送600ml可口可乐一瓶， 每单限赠三瓶
													</script>
													<i class="i-ph17x17 fl"><img src="/img/__44174682__5557525.png" height="17" width="17"></i>
													<script type="text/template" data-icon="i-ph17x17" data-pic="http://p1.meituan.net/xianfu/__44174682__5557525.png">
													购买活动套餐， 赠送450ml果粒橙一瓶， 每单限赠三瓶
													</script>

												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：50分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【首减5+立减5】爱涞客披萨" data-bulletin="周二披萨7.5折，我们承诺：订餐30分钟内送到，超出15分钟（以订单时间为准），此单打8折或者赠饮品！&lt;br /&gt;服务监督电话：18911367557&lt;br /&gt;晚上22:30-0:00期间外卖收取6元配送费，敬请谅解！&lt;br /&gt;&lt;br /&gt;~本店优先配送美团外卖~" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="1">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/19016" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p1.meituan.net/75.0/xianfu/__48349244__4215715.png" style="background-image: url(http://p1.meituan.net/75.0/xianfu/__48349244__4215715.png);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5+立减5】爱涞客披萨">
															【首减5+立减5】爱涞 ...
														</span>
													</div>
													<div class="tags">
														<span title="西式快餐">西式快餐</span>
													</div>
													<div class="price">
														<span class="start-price">0元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售40单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">



													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ML瓶装饮料
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满6元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超45分钟8折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：38分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【首减5+下单减5】川豫家常菜" data-bulletin="【为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解】&lt;br /&gt;&lt;br /&gt; ~~本店优先配送美团外卖订单~~" class="restaurant" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="2">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/17821" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p0.meituan.net/75.0/xianfu/__43632917__4831900.jpg" style="background-image: url(http://p0.meituan.net/75.0/xianfu/__43632917__4831900.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5+下单减5】川豫家常菜">
															【首减5+下单减5】川 ...
														</span>
													</div>
													<div class="tags">
														<span title="快餐小吃">快餐小吃</span>
													</div>
													<div class="price">
														<span class="start-price">20元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售43单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">



													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠500ml冰红茶
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超40分钟8折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：36分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="拉维纳" data-bulletin="【为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解】&lt;br /&gt;&lt;br /&gt;~~本店优先配送美团外卖订单~~" class="restaurant" style="border-left: 0;" data-all="1" data-mealsdonation_25="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="2">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/2908" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p1.meituan.net/75.0/xianfu/e823672a2f53827121001df2cdb0258515739.jpg" style="background-image: url(http://p1.meituan.net/75.0/xianfu/e823672a2f53827121001df2cdb0258515739.jpg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="拉维纳">
															拉维纳

														</span>
													</div>
													<div class="tags">
														<span title="中式炒菜">中式炒菜</span>
														<span title="西式快餐">西式快餐</span>
													</div>
													<div class="price">
														<span class="start-price">15元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售281单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">





													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元；
													</script>




													<i class="i-ph17x17 fl"><img src="/img/__44174682__5557525.png" height="17" width="17"></i>
													<script type="text/template" data-icon="i-ph17x17" data-pic="http://p1.meituan.net/xianfu/__44174682__5557525.png">
													购买活动套餐， 赠送450ml果粒橙一瓶， 每单限赠三瓶
													</script>

												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：50+分钟</span>
											</div>
										</a>
									</div>
								</li>
								<li class="fl">
									<div data-title="【首减5】梦露(银谷大厦店）" data-bulletin="由于我们餐厅都是现炒菜+送餐都需要耗费时间,请提前30-60分钟订餐，理解万岁 (^o^) 。本店投诉建议电话；010-62316915--qq329831538，如投诉属实并有机会获得9折优惠哟" class="restaurant" style="border-left: 0;" data-all="1" data-fulldonation="1" data-firstdiscount="1" data-fulldiscount="1" data-minpricelevel="1">
										<a class="rest-atag" href="http://waimai.meituan.com/restaurant/9870" target="_blank">
											<div class="top-content">
												<div class="preview fl">
													<img class="scroll-loading" src="/img/a.gif" data-src="http://p1.meituan.net/75.0/xianfu/f9a256cef4ddee047716c0cb8c74598c15905.jpeg" style="background-image: url(http://p1.meituan.net/75.0/xianfu/f9a256cef4ddee047716c0cb8c74598c15905.jpeg);">
												</div>
												<div class="content">
													<div class="name">
														<span title="【首减5】梦露(银谷大厦店）">
															【首减5】梦露(银谷大 ...
														</span>
													</div>
													<div class="tags">
														<span title="日韩料理">日韩料理</span>
														<span title="西式快餐">西式快餐</span>
													</div>
													<div class="price">
														<span class="start-price">0元起送</span>
														<span class="send-price">
															免配送费
														</span>
													</div>
													<div class="rank clearfix">
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star"></i>
														<i class="icon i-star-empty"></i>
														<span class="total cc-syellow fl">
															月售31单
														</span>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="others">
												<div class="discount fr">



													<i class="icon i-free-gift fl"></i>
													<script type="text/template" data-icon="i-free-gift">
													下单即赠330ml王老吉
													</script>


													<i class="icon i-first fl"></i>
													<script type="text/template" data-icon="i-first">
													美团外卖新用户下首单， 立减 5元
													</script>

													<i class="icon i-minus fl"></i>
													<script type="text/template" data-icon="i-minus">
													满15元减5元；
													</script>

													<i class="icon i-reimbursement fl"></i>
													<script type="text/template" data-icon="i-reimbursement">
													该餐厅支持超时赔付活动， 超90分钟9折。。 预订订单不参与超时赔付。
													</script>




												</div>
												<span class="send-time ct-middlegrey">平均送餐时间：38分钟</span>
											</div>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<div class="footer-wrap">
				<div class="column fl help">
					<div class="title">用户帮助</div>
					<ul>
						<li><a href="http://waimai.meituan.com/help/feedback" class="ca-darkgrey" target="_blank">用户反馈</a>
						</li>
						<li><a href="http://waimai.meituan.com/restaurant/0" class="ca-darkgrey" target="_blank">线上体验店</a>
						</li>
					</ul>
				</div>
				<div class="column fl update">
					<div class="title">获取更新</div>
					<ul>
						<li><a href="http://waimai.meituan.com/mobile/download" class="ca-darkgrey" target="_blank">iPhone/Android</a>
						</li>
						<li><a href="http://e.weibo.com/u/3949575070" class="ca-darkgrey" target="_blank">美团外卖新浪微博</a>
						</li>
						<li>
							<span class="ct-darkgrey">公众微信号：美团外卖</span>
						</li>
					</ul>
				</div>
				<div class="column fl corp">
					<div class="title">商务合作</div>
					<ul>
						<li><a href="http://waimai.meituan.com/help/cooperate" class="ca-darkgrey" target="_blank">提供商家信息</a>
						</li>
					</ul>
				</div>
				<div class="column fl info">
					<div class="title">公司信息</div>
					<ul>
						<li><a href="http://www.meituan.com/about/" class="ca-darkgrey" target="_blank">关于美团</a>
						</li>
						<li><a href="http://www.meituan.com/commitment/" class="ca-darkgrey" target="_blank">美团承诺</a>
						</li>
						<li><a href="http://www.meituan.com/about/press" class="ca-darkgrey" target="_blank">媒体报道</a>
						</li>
						<li><a href="http://waimai.meituan.com/help/job" class="ca-darkgrey" target="_blank">加入我们</a>
						</li>
					</ul>
				</div>
				<div class="column fr service">
					<div><i class="icon i-service-avatar"></i>
					</div>
					<div class="details">
						<p class="w1">美团外卖客服电话</p>
						<p class="w2">4008507777</p>
						<!-- <p class="w2">4008508888</p> -->
						<!-- <p class="w2">010-56652722</p> -->
						<p class="w3">周一到周日 10:00-23:00</p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="copyright">©2014 meituan.com <a target="_blank" href="http://www.miibeian.gov.cn/">京ICP证070791号</a> 京公网安备11010502025545号</div>
				<div class="sp-ft">
					<a target="_blank" title="备案信息" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202011122700003" class="record"></a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" data-main="http://xs01.meituan.net/waimai_web/5428d71f/js/page/home" src="/r.js"></script>


	<div class="dialog dialog-discount" style="display: none;">
		<div class="tips-dialog" style="left: 439px; top: 376px;">
			<div class="header header-rev"></div>
			<div class="body body-rev">
				<div class="content">
					<div class="title">【立减5元+赠饮】香香小屋【西式营养快餐】</div>
					<ul>
						<li class="clearfix"><i class="fl discount-icon icon i-pay"></i>
							<span class="discount-content">该餐厅支持在线支付</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-cheque"></i>
							<span class="discount-content">支持开发票，开票金额50元起。请在下单时填好发票抬头。</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-free-gift"></i>
							<span class="discount-content">
								下单即赠500ML冰红茶
							</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-first"></i>
							<span class="discount-content">美团外卖新用户下首单，立减 5元</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-minus"></i>
							<span class="discount-content">满5元减5元；</span>
						</li>
					</ul>
					<div class="broadcaster">
						<div class="sub-title">餐厅公告</div>
						<div class="broadcontent">1、为了不耽误您的用餐时间，请提前30分钟订餐，谢谢理解
							<br>2、该餐厅支持开发票，请在下单时填写好发票抬头
							<br>
							<br>~~本店优先配送美团外卖订单~~</div>
					</div>
				</div>
			</div>
			<div class="footer footer-rev"></div>
		</div>
	</div>

	<div class="dialog dialog-discount" style="display: block;">
		<div class="tips-dialog" style="left: 478px; top: 376px;">
			<div class="header "></div>
			<div class="body ">
				<div class="content">
					<div class="title">【首减5+立减5】食味府</div>
					<ul>
						<li class="clearfix"><i class="fl discount-icon icon i-pay"></i>
							<span class="discount-content">该餐厅支持在线支付</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-free-gift"></i>
							<span class="discount-content">
								下单即赠可口可乐
							</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-first"></i>
							<span class="discount-content">美团外卖新用户下首单，立减 5元</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-minus"></i>
							<span class="discount-content">满10元减5元；</span>
						</li>
						<li class="clearfix"><i class="fl discount-icon icon i-reimbursement"></i>
							<span class="discount-content">该餐厅支持超时赔付活动，超60分钟9折。雨雪天除外。预订订单不参与超时赔付。</span>
						</li>
					</ul>
					<div class="broadcaster">
						<div class="sub-title">餐厅公告</div>
						<div class="broadcontent">食之可口，味之鲜美，府之开阔，玉盘珍馐不如五谷杂粮之康体。我们是富有专业敬业与激情的团体，愿给予我们一次展现接触的机会，专业敬业精确 珍惜感恩回馈，坚持食品安全严把关，绝不触碰食品安全的红线，踏实做事 让健康的饮食与所选的食材有必然的关联， 我们愿用真诚来换取您的认可！！！</div>
					</div>
				</div>
			</div>
			<div class="footer "></div>
		</div>
	</div>
</body>
</html>
