<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>tt</title>
    </head>
    <body>
        <a href="/order/1" target="_blank">优盛大厦A座5层东来顺</a>
        <script src="/js/jquery.js"></script>
        <script src="/js/sea.js"></script>
        <script src="/js/class.js"></script>
        <script src="/js/base.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>