.page-wrap .inner-wrap {
    position: relative;
    padding-top: 10px;
    background-color: #FFFFFF;
}
.page-wrap .inner-bg {
    width: 960px;
    margin: 0 auto;
}
.notice {
    width: 960px;
    height: 80px;
    position: relative;
    overflow: hidden;
}
.rest-banner {
    padding-top: 10px;
}
.rest-banner .tab {
    border-bottom: 2px solid #FF6900;
}
.rest-banner .tab a {
    font-size: 16px;
    color: #000000;
    border-bottom: 0;
    text-decoration: none;
    z-index: 1;
    height: 38px;
    line-height: 38px;
    position: relative;
    width: 120px;
    text-align: center;
}
.rest-banner .tab a:hover {
    text-decoration: none;
}
.rest-banner .tab a.active {
    color: #FFFFFF;
    background-color: #FF6900;
    z-index: 2;
}
.rest-banner .tab a.hot-food {
    border-left: 0;
}
.rest-banner a.hot-food .i-new {
    position: absolute;
    top: -3px;
    right: -10px;
}
.page-wrap .inner-wrap {
    padding-bottom: 22px;
    min-height: 500px;
}
.ordered-list {
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-top: 15px;
}
.ordered-list .title {
    padding: 7px;
    background-color: #fff6e0;
    _height: 16px;
}
.ordered-list .title span {
    margin-left: 5px;
    color: #a0a0a0;
}
.ordered-list li {
    float: left;
    margin-right: 45px
}
.ordered-list li a {
    *white-space: nowrap;
    *overflow: hidden;
}
.ordered-list ul {
    padding: 10px;
    line-height: 24px;
}
.ordered-list .send-time {
    margin-left: 5px;
}
.ordered-list .icon {
    vertical-align: -3px;
    margin-left: 5px;
}
.ordered-list .i-ordered {
    vertical-align: -1px;
}
.ie7 .ordered-list .icon {
    vertical-align: 0px;
}
.ie6 .ordered-list .icon {
    vertical-align: 1px;
}
.store-status {
    margin-top: 30px;
    padding-bottom: 3px;
}
.store-status span {
    color: #686868;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    margin-left: 10px;
}
.store-list {
    margin-top: 15px;
}
.store-list li {
    width: 319px;
    height: 90px;
    _overflow: hidden;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    position: relative;
}
.store-list li.hover {
    background-color: #F4F4F4;
}
.store-list .flag-rest, .store-list .flag-ordered {
    width: 43px;
    height: 34px;
    position: absolute;
    top: -5px;
    left: 0;
    color: #ffffff;
    text-align: center;
    line-height: 14px;
    padding-top: 6px;
    z-index: 1;
}
.store-list .flag-rest {
    background-position: 0 -143px;
}
.store-list .flag-ordered {
    background-position: 0 -192px;
}
.store-list .preview {
    height: 90px;
    float: left;
    position: relative;
}
.store-list .image-wrap {
    margin: 1px 0 0 1px;
}
.store-list .content {
    margin-left: 128px;
}
.store-list .name {
    font-size: 15px;
    padding-top: 14px;
    height: 22px;
}
.store-list .details {
    margin-top: 4px;
}
.store-list .details span {
    margin-right: 10px;
}
.store-list .rank {
    margin-top: 6px;
}
.store-list .rank .icon {
    position: relative;
    top: 2px;
}
.store-list .recent {
    margin-right: 6px
}
.store-list .time {
    background-color: #d98803;
    position: absolute;
    bottom: 1px;
    left: 1px;
    height: 30px;
    width: 114px;
    color: #ffffff;
    text-align: center;
}
.store-list .time span {
    display: inline-block;
    height: 18px;
    border: 1px solid #ffffff;
    margin-top: 5px;
    padding: 0 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-boder-radius: 2px;
    -o-boder-radius: 2px;
}
.store-list .mask {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 114px;
    height: 88px;
    background-color: #333;
}
.store-list .rest {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -18px;
    font-size: 14px;
}
.store-list a:hover {
    text-decoration: none;
}
.store-list .discount-info, .store-list .locate-info {
    background-color: #f87b38;
    height: inherit;
    font-size: 12px;
    color: #ffffff;
    padding: 7px 10px;
    position: absolute;
    left: 0;
    top: -32px;
    display: block;
    _top: -33px;
    _z-index: 1;
}
.store-list .locate-info {
    background-color: #448aca;
}
.store-list .discount-info span, .store-list .locate-info span {
    margin-right: 5px;
}
.store-list .i-triangle-down {
    position: absolute;
    left: 50%;
    bottom: -16px;
    _bottom: -16px;
    margin-left: -8px;
    border-width: 8px;
}
.discount-info .i-triangle-down {
    border-top-color: #F87B38;
}
.locate-info .i-triangle-down {
    border-top-color: #448ACA;
}
.discount-icon {
    vertical-align: -4px;
}
.ie7 .discount-icon {
    vertical-align: -1px;
}
.store-list .name .icon {
    float: left;
    margin-left: 6px;
    margin-top: 2px;
}
.store-list .name span {
    float: left;
}
.hot-rest {
    margin-top: 30px;
    padding-bottom: 3px;
}
.hot-rest span {
    color: #686868;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    margin-left: 10px;
}
.rest-list {
	height: auto!important;
	height: 500px;
	min-height: 500px;
}
.rest-list li {
    margin-top: 20px;
}
.restaurant {
    width: 318px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
}
.restaurant-empty {
    height: 130px;
    border-left: 0;
    background-color: #FFFFFF;
}
.restaurant .rest-mask {
    background-color: #FFFFFF;
    width: 325px;
    height: 130px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.restaurant .flag-new {
    width: 46px;
    height: 46px;
    background-position: -102px -253px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
}
.restaurant .rest-atag {
    display: block;
    position: relative;
    border: 1px solid #FFFFFF;
    height: 128px;
    *zoom: 1;
}
li .hover .rest-atag {
    border-color: #FF6900;
    background-color: #FFF8ED;
}
.restaurant .rest-mask .rest-atag:hover {
    border-color: #FFFFFF;
}
.restaurant .top-content {
    height: 97px;
    overflow: hidden;
}
.restaurant .preview {
    margin: 10px 0 0 10px;
    height: 75px;
    width: 75px;
    border: 1px solid #EEEEEE;
    _display: inline;
}
.restaurant .preview img {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.restaurant .content {
    padding: 10px 10px 0px 99px;
}
.restaurant .name span {
    font-size: 16px;
    color: #000000;
}
.restaurant .tags {
    color: #686868;
    margin-top: 2px;
    height: 16px;
}
.restaurant .tags span {
    margin-right: 3px;
}
.restaurant .others {
    border-top: 1px solid #EEEEEE;
    padding: 7px;
    height: 16px;
    overflow: hidden;
}
.restaurant .name {
    _height: 22px;
    _overflow: hidden;
}
.restaurant .price {
    color: #686868;
    margin-top: 3px;
}
.restaurant .price .send-price {
    margin-left: 5px;
}
.restaurant .rank {
    margin-top: 5px;
}
.restaurant .rank .icon {
    float: left;
    margin-right: 2px;
}
.restaurant .rank .total {
    margin-left: 8px;
}
.restaurant .timer-tip {
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
}
.restaurant .timer {
    border: 1px solid #FF6900;
    padding: 1px 2px;
}
.restaurant .on-sale {
    font-weight: bold;
}
.restaurant .send-time {
    margin-left: 5px;
}
.restaurant .outof-sale {
    background-color: #AFAFAF;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 5px;
}
.restaurant .discount .icon, .restaurant .discount .i-ph17x17 {
    margin-left: 5px;
}
.outer-scrollbar {
    margin-right: 19px;
    margin-top: 11px
}
.outer-scrollbar .filter-scrollbar {
    margin-left: 17px;
    margin-top: 3px;
}
.outer-scrollbar .range {
    margin-left: 20px;
    display: inline-block;
    width: 50px;
}
.sort-filter {
    margin-top: 17px;
    background-color: #F5F5F5;
    padding-top: 9px;
    height: 31px;
}
.sort-filter a.sort {
    height: 22px;
    float: left;
    line-height: 22px;
    border-right: 1px solid #E1E1E1;
    padding: 0 17px;
    color: #000000;
}
.sort-filter a.active {
    color: #FF6900;
}
.sort-filter a.active .i-orderdown {
    background-position: -410px -47px;
}
.sort-filter a.active .i-orderup {
    background-position: -384px -47px;
}
.sort-filter a.sort:hover {
    color: #FF6900;
}
.sort-filter a.sort:hover .i-orderdown {
    background-position: -410px -47px;
}
.sort-filter a.sort:hover {
    color: #FF6900;
}
.sort-filter a.sort:hover .i-orderup {
    background-position: -384px -47px;
}
.sort-filter .prices {
    margin-left: 12px;
    top: -2px;
    float: left;
    position: relative;
    *z-index: 1;
}
.sort-filter .prices ul {
    border: 1px solid #E1E1E1;
    position: absolute;
    background-color: #FFFFFF;
    top: 25px;
    left: 0;
    z-index: 1;
    display: none;
}
.sort-filter .hover ul {
    display: block;
}
.sort-filter .prices li a.selected {
    background-color: #F5F5F5;
}
.sort-filter .prices li a {
    width: 78px;
    padding-left: 20px;
    display: inline-block;
    line-height: 30px;
    color: #434343;
}
.sort-filter .prices li a:hover {
    background-color: #D2D2D2;
}
.sort-filter a.all {
    color: #000000;
    width: 78px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #E1E1E1;
    padding-left: 20px;
    display: block;
    background-color: #FFFFFF;
}
.sort-filter a.all .i-triangle-dn {
    margin-left: 2px;
}
.sort-filter .label {
    line-height: 22px;
    margin-left: 17px;
}
.sort-filter .i-orderdown, .sort-filter .i-orderup {
    margin-left: 2px;
    vertical-align: -1px;
}
.rest-filter {
    padding-left: 15px;
}
.rest-filter a {
    margin-top: 15px;
    float: left;
    width: 155px;
}
.rest-filter a:hover .txt {
    color: #FF6900;
}
.rest-filter .txt {
    margin-left: 5px;
    color: #434343;
}
.rest-filter .checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -3px -276px;
    vertical-align: text-bottom;
}
.rest-filter .checked {
    background-position: -20px -276px;
}
.dialog-discount .header {
    width: 360px;
    height: 35px;
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-header.png) no-repeat;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-header.png', sizingMethod='scale');
}
.dialog-discount .header-rev {
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-header-rev.png) no-repeat;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-header-rev.png', sizingMethod='scale');
}
.dialog-discount .body {
    width: 360px;
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-content.png) repeat-y;
    padding-bottom: 11px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-content.png', sizingMethod='scale');
}
.dialog-discount .body-rev {
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-content-rev.png) repeat-y;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-content-rev.png', sizingMethod='scale');
}
.dialog-discount .footer {
    width: 360px;
    height: 20px;
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-bottom.png) no-repeat;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-bottom.png', sizingMethod='scale');
}
.dialog-discount .footer-rev {
    background: url(http://xs01.meituan.net/waimai_web/img/dialog/tips/res-bottom-rev.png) repeat-y;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://xs01.meituan.net/waimai_web/img/dialog/tips/res-bottom-rev.png', sizingMethod='scale');
}
.dialog-discount .content {
    width: 279px;
    margin-left: 32px;
    position: relative;
    top: -15px;
}
.dialog-discount .body-rev .content {
    margin-left: 47px;
}
.dialog-discount .title {
    font-size: 16px;
    padding-bottom: 5px;
}
.dialog-discount .sub-title {
    font-size: 16px;
    border-top: 1px solid #EBEBEB;
    padding-top: 15px;
}
.dialog-discount i.icon {
    float: left;
}
.dialog-discount .i-pay {
    margin-right: 8px;
}
.dialog-discount .discount-content {
    margin-left: 27px;
    display: block;
}
.dialog-discount ul {
    padding: 7px 0;
    padding-bottom: 22px;
    border-top: 1px solid #EBEBEB;
    padding-bottom: 13px;
}
.dialog-discount li {
    padding-top: 7px;
}
.dialog-discount .broadcontent {
    color: #FF6900;
    margin-top: 0px;
    line-height: 22px;
}
.dialog-discount .broadcontent .no-broadcaster {
    color: #A4A4A4;
}
.no-rests {
    height: 350px;
    position: relative;
}
.no-rests .tip {
    background: url(http://xs01.meituan.net/waimai_web/img/no-rests.png) no-repeat 30px 50%;
    color: #A0A0A0;
    font-size: 17px;
    font-weight: bold;
    width: 385px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -240px;
    line-height: 90px;
    background-color: #F4F4F4;
    padding-left: 95px;
}
